APP_NAME=Tasqo
APP_ENV=local
APP_KEY=base64:tnlvXS+JIgOOIfoegjCNHY4pSpz1yQfmpvCivt5NAOY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000
APP_INSTALLED=false
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US
APP_TEMPLATE_MODE=true
APP_MAINTENANCE_DRIVER=file

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12
SSL_INSTALLED=false

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

SITE_CURRENCY=usd
SITE_CURRENCY_SIGN=$

SESSION_DRIVER=file
SESSION_LIFETIME=43200
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=null
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync

CACHE_STORE=file
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=Tasqo

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

# Subscription Related Changes
STRIPE_KEY=
STRIPE_SECRET=
FREE_TRIAL_FOR_NEW_USERS=10
WORKSPACE_FOR_TRIAL_USERS=1
PROJECT_PER_WORKSPACE_FOR_TRIAL_USERS=5
MEMBERS_PER_PROJECT_FOR_TRIAL_USERS=10
BONUS_DAYS_AFTER_LIMIT=2